[submodule "lib/SyntaxHighlighter"]
	path = lib/SyntaxHighlighter
	url = git://github.com/alexgorbatchev/SyntaxHighlighter.git
[submodule "lib/github-flavored-markdown"]
	path = lib/github-flavored-markdown
	url = git://github.com/isaacs/github-flavored-markdown
